@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body {
  padding: 20px;
  background-color: #121212;
  color: #D3D3D3;
  font-family: "Tektur", sans-serif;
  box-sizing: 'border-box';
}